.iphone-6 {
    width: 750px;
    height: 1334px;
}

.iphone-6-plus {
    width: 1242px;
    height: 2208px;
}

.ipad-pro {
    width: 2048px;
    height: 2732px;
}

.ipad-mini{
    width: 768px;
    height: 1024px;
}

.ipad-retina {
     width: 1536px;
     height: 2048px;
 }

.android-1080{
    width: 1080px;
    height: 1920px;
}

.nexus7{
    width: 1200px;
    height: 1920px;
}

.common-web{
    width: 1366px;
    height: 768px;
}

.web-large{
    width: 1920px;
    height: 1080px;
}

.mac-book-pro-13{
    width: 2560px;
    height: 1600px;
}

imac-27{
    width: 2560px;
    height: 1440px;
}