.header {
    width: 100%;
    height: 120px;
    background-color: dimgrey;
}

.toolbar {
    position: absolute;
    width: -webkit-fill-available;
    margin-top: 50px;
    margin-left: 50px;
}

.input-label{
    position: relative;
    background-color: darkgrey;
    padding: 16px;
    color: white;
    font-family: "Segoe UI";
    float: left;
    margin-right: 10px;
}

.input-field {
    width: 400px;
    height: 30px;
    background-color: transparent;
    border-color: white;
    float: left;
    color: white;
}

.dropbtn {
    background-color: #4cafaa;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    left: 0;
    right: 0;
    width: 183px;
    position: absolute;
    display: inline-block;
    margin: 0 auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    overflow: auto;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4cafaa;
}

.preview {
    float: right;
    padding-right: 50px;
}

.preview-btn {
    padding: 16px;
    background-color: #4cafaa;
    font-size: 16px;
    font-family: "Segoe UI";
    color: white;
    border: none;
    cursor: pointer;
}

#js-websiteWrapper {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 20px;
}

#js-websiteUrlInput {

}
